/* global */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.grid-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background-color: #dee4e7;
    color: #7A7C80;

}

.two-columns {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.innerLink {
    width: 200px;
    color: red;
  }

  .innerLink#status-label {
    width: auto;
    color: blue;
  }

.homepage-link{
    color:#2f78c5;
    font-weight:400;
    position:relative;
    text-decoration:none;
}

.homepage-link:hover{
    color:#2f78c5;
    font-weight:400;
    position:relative;
    text-decoration:underline;
}

h2,.white{
    color: #0d0d0d;
}

a{
    color: #7A7C80;
    text-decoration: none;
}
/* section 1 */
.section-1{
    padding-top: 5vh;
    text-align: center;
}

.section-1 p{
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin:0;
}

.section-1 h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.section-1 a{
    font-size: 1.5rem;
    padding: 10px;
}

#twitter-tag:hover {
    color: #1DA1F2;
}

#linkedin-tag:hover {
    color: #0077b5;
}

#github-tag:hover {
    color: #333;
}

#substack-tag:hover {
    color: #FFA500
}

/* section 2 */
.section-2{
    padding-top: 5vh;
    width: 80%;
}

.section-2 h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.section-2 p{
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin:0;
}

.section-2 .titleLink{
    display: block;
    padding: 5px;
    font-size: 1.2rem;
    padding-left: 0;
    color: blue;
}

.section-2 .normLinks{
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin:0;
    color: white;
    text-decoration: none;
}

/* animations / utilities */
.section-2 .titleLink:hover{
    font-size: 1.3rem;
    text-decoration: underline;
    cursor: pointer;
    transition: 0.2s;
    color: blue;
}

.section-1 a:hover{
    color: #000;
    cursor: pointer;
    transition: 0.3s;
    color: blue;
}

.white:hover{
    position: relative;
    padding-left: 10px;
}

/* media queres */
@media(max-width:780px){
    .grid-2{
        grid-template-columns: 1fr;
    }
    .section-1{
        padding:0;
        padding-top: 5rem;
    }
    .section-2{
        padding: 0;
        padding-left: 1.5rem;
        padding-top: 2rem;
    }
}